.dashboard-container {
  margin-left: auto;
  margin-right: auto;

  &::before,
  &::after {
    display: table;
    content: " ";
  }
}

// cardrow 
.dashboard-cardRow {
  display: flex;
  flex-wrap: wrap;

  .dashboard-infocard-4-container {
    max-width: 25%;
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .dashboard-globalsales-container {
    max-width: 100%;
    flex-basis: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .dashboard-infocard-3-container {
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Mange Listing

.dashboard-manageListings-container {
  margin-bottom: 30px;
  height: 440px;
  width: 100%;
  position: relative;

  .dahboard-manageListings-area {
    position: absolute;
    height: 420px;
    bottom: 0px;
    width: 100%;
    .dashboard-infocard-3-container {
      width: 33.3%;
      height: inherit;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
