.dashboard-container {
  margin-right: 15px;
}

// first row
.dashboard-firstrow {
  width: 100%;
  height: 187px;
  margin-bottom: 30px;
  position: relative;
  .dashboard-infocard-area {
    position: absolute;
    bottom: 0px;
    height: 128px;
    width: 100%;
    .dashboard-infocard-4-container {
      width: 25%;
      float: left;
      padding-left: 15px;
      padding-right: 15px; 
    }
  }
}


// second row 
.dashboard-secondrow {
  width: 100%;
  height: 392px;
  margin-bottom: 30px;
  position: relative;

  .dashboard-globalsales-area {
    position: absolute;
    height: 372px;
    bottom: 0px;
    width: 100%;

    .dashboard-globalsales-container {
      padding-left: 15px;
      padding-right: 15px; 
    }
  }
}

// Analysis Data

.dashboard-analysisdata-container {
  margin-bottom: 30px;
  height: 282px;
  width: 100%;
  position: relative;

  .dashboard-analysisdata-area {
    position: absolute;
    height: 262px;
    bottom: 0px;
    width: 100%;
    .dashboard-infocard-3-container {
      width: 33.3%;
      height: inherit;
      float: left;
      padding-left: 15px;
      padding-right: 15px; 
    }
  }
}

// Mange Listing 

.dashboard-third-container {
  margin-bottom: 60px;
  height: 440px;
  width: 100%;
  position: relative;

  .dahboard-third-area {
    position: absolute;
    height: 420px;
    bottom: 0px;
    width: 100%;

    .dashboard-third-title h2{
      font-size: 1.825em;
      margin-left: 15px;
      margin-bottom: 65px;
    }
    
    .dashboard-infocard-3-container {
      width: 33.3%;
      height: inherit;
      float: left;
      padding-left: 15px;
      padding-right: 15px; 
    }
  }
}