.footer {
  position: relative;
  bottom: 0px;
  background-color: #333333;
  height: 81px;
  margin-left: -15px;
  .copyright-container {
    line-height: 81px;
    vertical-align: middle;
    p {
      margin: 0px;
      color: #888888;
      text-align: center;
    }
  }

}