.sidebarContent-container {
  width:100%; 
  margin-bottom: 10px; 
  p {
    margin:0px;
    color: white;
  }
  &:hover{
    cursor: pointer;
  }
  .sidebarContent-textarea {
    margin-left: 15px;
    margin-right: 15px;
    background-color: $menu-chosen;
    box-shadow: $menu-chosen-shadow;
    border-radius: 3px;

    &:focus {
      background-color: $menu-chosen;
    }
  }
  nav {
    padding: 10px 15px; 

    .material-icons-arrowcontainer {
      float: right;
      overflow: hidden;
      width: 17px;
      line-height:12px;
  
      i {
        font-size: 17px;
        color: white;
      }
    }
  }
}

.sidebar-title-icon-container {
  height: 100%;
  display: inline-flex;
  color: white;
  
  .materialicons-container {
    float: left;
    overflow: hidden;
    margin:auto auto;
    height: 24px;
    width: 24px;
    margin-right: 20px;
  }

  .sidebar-title-container {
    float: left;
    overflow: hidden;
    margin: auto auto;
    font-size: 14px;
    font-weight: 300;
  }
}


//menu detail
.sidebar-collapse-area {
  margin-top: 10px;

  .sidebarcontent-detail {
    font-size: 14px;
    color: white;
    margin-top: 15px;
    display: block;
    padding: 0.5rem 1rem;
  }
}


