$grey: #999999;
$background-grey:#EEEEEE;
$text-light-grey:#EEEEEE;
$font-color:rgba(0,0,0,0.5);
$Infocard-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.14);
$infocard-radius: 6px;
$infocard-titlephoto-radius:3px;
$infocard-titlephoto-shadow:0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2); // this one should be function !!!

// Sidebar 
// $menu-chosen:#00acc1;
$menu-chosen:#00acc1;
$menu-chosen-shadow:12px 20px -10px rgba(0,188,212,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0,188,212,.2);